<h1><%= name %></h1>

<h2>Weather</h2>
<p><%= weather.first[:main] %></p>

<h2>Temperature</h2>
<p><%= main[:temp] %> degrees</p>
<br>
<p>High: <%= main[:temp_max] %> degrees</p>
<p>Low: <%= main[:temp_min] %> degrees</p>

<h2>Humidity</h2>
<p><%= main[:humidity] %></p>

<h2>Pressure</h2>
<p><%= main[:pressure] %></p>

<h2>Visibility</h2>
<p><%= visibility %></p>

<h2>Wind</h2>
<p>Speed: <%= wind[:speed] %></p>
<p>Degree: <%= wind[:deg] %></p>
